<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

   <!--1. BootStrap용 CSS CDN 추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Simple DataTable용 CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <!--3. BootStrap Icon / font-awesome 아이콘용 CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' th:href="@{/css/main.css}" />

    <!--jQuery 추가-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- font awesome 용 스크립트 CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $(document).ready(function () {
                const sidebarToggle = $('#sidebarToggle');
                if (sidebarToggle) {
                    sidebarToggle.click(function () {
                        console.log('버튼클릭');
                        event.preventDefault(); /* 아래쪽 요소로 이벤트가 전파 안되도록 */
                        document.body.classList.toggle('sb-sidenav-toggled');
                        localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                    });
                }
            });
        </script>

<body>
<div id="layoutTotal">
    <!-- 전체화면 / 왼쪽 영역 -->
    <div id="layoutLeftSide" th:fragment="side">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">메인</div>
                    <a class="nav-link" th:href="@{/admin/home.bubble}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        HOME
                    </a>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                        data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        제휴업체
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/admin/washinglist.bubble}">업체 목록</a>
                            <a class="nav-link" th:href="@{/admin/confirm.bubble}">업체 승인 대기</a> 

                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                        aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        회원
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                        data-bs-parent="#sidenavAccordion" >
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/admin/customerlist.bubble}">회원 목록</a>
                            
                            <!-- <a class="nav-link" data-bs-toggle="collapse"
                                data-bs-target="#pageCollapseError" aria-expanded="false"
                                aria-controls="pageCollapseError" th:href="@{/admin/readyto.bubble}">
                                게시판 관리
                               
                            </a> -->
                        
                    </div> 
                
                </div>
            </div>

        </nav>
    </div>
</div>
    <script src="/src/main/resources/static/js/admin.js"></script>
</body>
</html>