<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUBBLE BUMUL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--1. BootStrap용 CSS CDN 추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!-- FontAwesome 아이콘 css CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Simple DataTable용 CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <!--3. BootStrap Icon / font-awesome 아이콘용 CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' th:href="@{/css/main.css}" />
    <!-- font -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <!--탭 아이콘 변경-->
    <link rel="icon" th:href="@{/images/iconlog.png}">      

    <!--jQuery 추가-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- font awesome 용 스크립트 CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            const sidebarToggle = $('#sidebarToggle');
            if (sidebarToggle) {
                sidebarToggle.click(function () {
                    console.log('버튼클릭');
                    event.preventDefault(); /* 아래쪽 요소로 이벤트가 전파 안되도록 */
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }
        });

       
    </script>

</head>


<body>
    <!-- top nav -->
    <header th:replace="~{/admin/adheader.html :: header}"></header>
    <!-- 전체 화면 영역 -->
    <div id="layoutTotal">
        <!-- side menu -->
        <div th:replace="~{/admin/adsidemenu.html :: side}"></div>
        

        <!-- 전체화면 / 오른쪽 메인화면 영역 -->
        <div id="layoutContent">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">업체 제휴 승인</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active"><a th:href="@{/admin/home.bubble}">HOME</a></li>
                    </ol>

                    <div class="row">
                        <div class="col">
                            <div class="card mb-4">
                                <div class="card-header"><i class="fas fa-table me-1"></i></div>
                                    <div class="card-body">            
                                        <!-- <select name="type" id="type" onchange="this.form.submit()"> -->
                                            <!-- <select name="type" id="type" style="text-align: center;" th:field="${cate.no}" onchange="selectType()">
                                                <option value="00">= 제휴 업체 =</option>
                                                <option value="000">전체</option>
                                                <option th:each="obj : ${cate.list}" th:value="${obj.no}" th:text="${obj.chk}"></option>
                                            </select> -->
                                        <select name="type" id="type" style="text-align: center;" onchange="selectType()">
                                            <option value="none">= 제휴 업체 =</option>
                                            <option th:each="type : ${category}" th:value="${type}" th:text="${type}"></option>
                                        </select>

                                        
                                        <table width="1550" style="margin-bottom: 20px; margin-top: 20px; border-collapse: collapse; table-layout: fixed; text-align: center;">
                                            <thead>
                                                <tr>
                                                    <th>선택</th>
                                                    <th width="250">업체명</th>
                                                    <th>대표자명</th>
                                                    <th>사업자 등록번호</th>
                                                    <th>업체 번호</th>
                                                    <th width="600">업체 주소</th>
                                                </tr>
                                            </thead>

                                            <tbody id="washinglist"> 
                                                   
                                            </tbody>
                                        </table>
                                        <button type="button" onclick="updateChk()" class="btn btn-primary" id="updateChkBtn">승인</button>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
           


            <footer th:replace="~{/admin/adfooter.html :: footer}"></footer>
        </div>




    </div>

    <!--2. BootStrap용 JS는 body태그 내 맨 아래에 위치해야 함-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
   <!-- Simple DataTable용 JS CDN -->
   <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
   <script th:inline="javascript" type="text/javascript">
   
        async function selectType() {
            const type = $("#type option:selected").val();
            //rest api
            const url = [[@{/api/admin/confirm.json}]] + `?type=${type}`;
            const headers = {"Content-Type":"application/json"};
            const {data} = await axios.get(url, {headers});

            const washinglist = document.getElementById("washinglist");
            washinglist.innerHTML = '';

            for (let i=0; i<data.washinglist.length; i++){
                    // console.log(data.washinglist[i].name);
                    washinglist.innerHTML += `<tr>`
                                                + '<td><input type="checkbox" name="chk[]" value="' + data.washinglist[i].wnumber + '"/></td>' 
                                                + '<td>' + data.washinglist[i].name + '</td>'
                                                + '<td>' + data.washinglist[i].ceo + '</td>'
                                                + '<td>' + data.washinglist[i].wnumber + '</td>'
                                                + '<td>' + data.washinglist[i].phone + '</td>'
                                                + '<td>' + data.washinglist[i].address + '</td>'
                                                + `</tr>`
                                                ;
                }
            
        };

       function updateChk() {
            const type = $("#type option:selected").val();
            const chk = document.getElementsByName("chk[]"); 
            var chktrue = [];

            if (chk.length <= 0) {
                alert('제휴 승인할 업체를 선택해주세요');
            }
            else {
                const form = document.createElement("form");
                form.setAttribute("action", /*[[@{/admin/updatechk.bubble}]]*/"");
                form.setAttribute("method", "post");
                form.style.display="none";

                for(var i=0; i<chk.length; i++) {
                    if(chk[i].checked == true){
                        console.log(chk[i].value);
                        let input = document.createElement("input");
                        input.setAttribute("type", "hidden");
                        input.setAttribute("name", "chk");
                        input.setAttribute("value", chk[i].value);
                        form.appendChild(input);
                    }
                }

                const input4 = document.createElement("input");
                input4.type = "hidden";
                input4.name = "_csrf";
                input4.value =  /*[[${_csrf.token}]]*/"";

                
                form.appendChild(input4);
                document.body.appendChild(form);
                form.submit();

                // $.ajax({
                //     url:"/bubble_bumul/api/admin/updatechk.json",
                //     type : "post",
                //     data : JSON.stringify(data),
                //     dataType : "json",
                //     contentType: "application/json",
                //     success: function(result) {
                //         console.log(result);
                //         location.reload();   
                //     }

                // })
            }
            
       };

   </script>
</body>

</html>