
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>BUBBLE BUMUL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--1. BootStrap용 CSS CDM 추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

  
    <link rel='stylesheet' type='text/css' media='screen'
        href="/src/main/resources/static/css/header.css">
  
    <!--jQuery 추가-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    

</head>


<!-- font -->
<style> 
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
</style>



<footer th:fragment="footer"> 
    <div class="copyright">
        <hr />
        <a href="#" class="bm-1">공지사항</a>
        <a href="#" class="bm-2">회사소개</a>
        <a href="#" class="bm-3">이용약관</a>
        <a href="#" class="bm-4">개인정보처리방침</a>
        <hr />
        <ul class="copy-menu">
            <li class="list-1">사업자등록번호 : 123-45-67890</li>
            <li>(주) BUBBLE BUMUL</li>
            <li>주소 : 부산광역시 남구 신선로 365 (48548)</li>
            <li>대표이사 : 신애린 여우정 탁승은</li>
        </ul>
        <div class="cr">
            <span>ⓒ 2023 BUBBLE BUMUL. All Rights Reserved.</span>
        </div>
        
    </div>
    
</footer>


</html>
