<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="fragment-header">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>BUBBLE BUMUL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--1. BootStrap용 CSS CDM 추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">


        <link rel='stylesheet' th:href="@{/css/home.css}" />

    <!--jQuery 추가-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <!-- 한글 font  -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">

    <!-- font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
        
</head>
<body th:fragment="header" id="header">
    <header style="background-color: white;  position: fixed; top: 0; left: 0; right: 0;">
        <div id="notice">
            <a>신규 가입 10% 할인 쿠폰 > </a>
            <a th:href="@{/board/}">[BS휴먼크린피아] 내부 수리 공지 > </a>
            <a>예약 시간 관련 공지 > </a>
        </div>
        <div>
            <div id="logo-section">
                <p style="background-color: black; color: white; width: 200px; padding-left: 3px;"> Coin , Laundry , Reserve !</p>
                <div id="logo">
                    <a th:href="@{/customer/home.bubble}">Bubble Bumul</a>
                </div>
            </div>
            <div class="navigation">
                <div class="navlist">
                  <a th:href="@{/customer/home.bubble}">Home</a>
                  <a th:href="@{/reserve/letsgo.bubble}">Reserve</a>
                  <a th:href="@{/customer/404page.bubble}">Board</a>
                  <!-- 로그인 O -->
                    <div th:if="${user != null}">
                        <a th:href="@{/customer/mypage.bubble}">Mypage</a>
                    </div>
                    <div th:if="${user != null}" >
                        <a href="javascript:logoutAction()">Logout</a>
                    </div>
                    <!-- 로그인 X -->
                    <div  th:if="${user == null}">
                        <a th:href="@{/customer/login.bubble}">Login</a>
                    </div>
                    
                    <div  th:if="${user == null}">
                        <a th:href="@{/customer/join.bubble}">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        // 여우정
        Kakao.init('f761a223ea6f6b6f19c7d7cb193bdc41');
        // 신애린
        // Kakao.init('51de80643ee3e6de36c332711a96b13b');
        // 탁승은
        // ?

        function logoutAction() {
            if (confirm('로그아웃 하시겠습니까?')) {
                const form = document.createElement("form");
                form.setAttribute("action", [[@{/logout.bubble}]]);
                form.setAttribute("method", "post");
                form.style.display = "none";

                const input = document.createElement("input");
                input.type = "hidden";
                input.name = "_csrf";
                input.value = [[${ _csrf.token }]];

                form.appendChild(input);

                // 카카오로 소셜 로그인 한 경우
                // console.log([[${user?.username}]]);
                const userid = [[${user?.username}]]; // 로그인한 고객의 아이디
                // console.log(userid.startsWith("kakao"));
                if (userid.startsWith("kakao") == true) {
                    if (Kakao.Auth.getAccessToken()) {

                        Kakao.API.request({
                            url: '/v1/user/unlink',
                            success: function (response) {
                                // console.log(response)
                            },
                            fail: function (error) {
                                console.log(error)
                            },
                        });

                        Kakao.Auth.setAccessToken(null);
                    }
                }

                document.body.appendChild(form);
                form.submit();
            }
        }
    </script>
</body>

</html>