header{
    font-family: 'Geologica', sans-serif;
    position:sticky;
    -webkit-font-smoothing: antialiased;
    z-index: 2;

}



.maincontainer{
    font-family: 'NanumSquare';
    margin-top: 200px;
}

.maincontainerhome{
    font-family: 'NanumSquare';
    margin-top: 250px;
}


/* 공지사항 */
#notice {
    background-color: black; 
    color: white; /*폰트 색*/
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 11.5px;
    font-family: 'NanumSquare';
}

#notice [href] {
    text-decoration: none;
    color: white;
}

/* 로고 */
#logo-section{
    margin-left: 20px;
    margin-top: 20px;
}

#logo-section p{
  margin-bottom: 0px;
}

#logo-section > #logo{
    margin-top: 0px;

}

/* 나중에 로고 넣으면 뺼 */
#logo-section > #logo a{
    margin-top: 0px;
    font-size: 50px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}



/* header navbar */
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navlist{
    float: right;
    width: 70vw;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.navlist a{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 0.5px;
    padding: 0 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.navlist a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 6.5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navlist a:hover:after{
    width: 100%;
}

#search{
    float: right;
    margin-top: 0px;
    top: 15px;
    right: 40px;
    width: 67px;
    height: 67px;
    padding: 10px;
}


/* top 버튼 */
#topload{
    position: fixed;
    bottom: 50px;
    right: 50px;
}



/* top text */
.text{
    margin-left: 200px;
    margin-top: 50px;
}


/* 메인 화면 */

/* 메인 이미지 */
#mainimg{
    margin-left: 25px; 
    width: 1000px; 
    height: 600px;
}

/* 메인 이미지 옆 글 */
#maintext{
    padding: 5%;
}
#bubblebumul{
    font-family: 'Geologica', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    /* color: steelblue; */
}

#bubbletext{
    margin-left: 150px;
}

#section2{
    margin-left: 12px;
}

.reserve-info-title{
    text-align: center;
    margin-bottom: 100px;
}

#bubblename{
    font-family: 'Geologica', sans-serif;
    font-weight: 700;
}

.line {
  border-top: 5px solid black;
  width: 70px;
  margin-left: 250px;
  margin-top: 18px;
  margin-bottom: 30px;
}

.introduce{
    margin-top: 200px;
    width: 100%;
}

#info{
    display: flex;
    margin-top: 150px;
    
    width: 100%;
    justify-content: space-evenly;
}

#homeinfo1 , #homeinfo2, #homeinfo3{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

#homeinfotitle{
    font-weight: bold;
    font-size: 25px;
}

#homeline {
    border-top: 130px solid black;
    width: 3px;
    /* height: 1245px; */  
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.find-washing{
    margin-top: 200px;
}

.step-1, .step-2, .step-3, .step-4 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #666;
    margin-left: 140px;
    text-align: center;
}
.stepno{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #b8d1ff;
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
    color: white;
}

.stepno h2{
    margin-top: 30px;
    font-weight: bolder;
}

#step-1 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px;
}

#step-2{
    margin-top: 15px;
    font-weight: bold;
    font-size: 25px;
}

#step-3{
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}

#step-4{
    margin-top: 33px;
    font-weight: bold;
    font-size: 25px;
}

/* 마이페이지 */

#pageheader{
    display: flex;
    justify-content: flex-start;

}

#pageline {
    border-top: 8px solid black;
    width: 70px;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;

  }

#page{
    font-family: 'Geologica', sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;
}

#gradepart{
    height: 200px;  
    padding: 3%;
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}

#gradebox{
    border: 4px solid lightgrey;
    display: flex;
    width: 70%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

#grade{
    display: inline;
    padding-left: 2%;
    font-size: 30px;
}

#higrade{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#mypagesection{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#mypagesection a{
    margin-right: 65px;
    margin-left: 65px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#mypagesection p{
    margin-top: 2px;
}

#datatableSimple{
    width: 100%;
    padding: 5%;
}

.datatable-top{
    width: 95%;
}

.datatable-dropdown{
    margin-left: 80px;
}

#datatable-pagination{
    margin-right: 80px;
}

/* 회원가입 */
#jointitle{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.container{
    font-size: 18px;
}

/* 아이디 줄 */
.jointable #lbl_check{
    float: left;
}

.jointable #id{
    margin-left: 40px;
}

.jointable #idbutton{
    margin-left: 80px;
}


/* 비밀번호줄 */
.jointable #password{
    margin-left: 40px;
}
.jointable #pwcheck{
    margin-left: 40px;
}

/* 이름 */
.jointable #name{
    margin-left: 40px;
}


.jointable  #phone{
    margin-left: 40px;
    text-align: center;
}

.jointable #email{
    margin-left: 40px;
}
.jointable #birth{
    margin-left: 40px;
}

.jointable #address{
    margin-left: 40px;
}
.jointable #add_button{
    margin-left: 80px;
}

.jointable #detailaddress{
    margin-left: 40px;
}
.jointable #extraaddress{
    margin-left: 80px;
}




/* 회원정보 수정 */
.updatetable #phone, #email,#birth {
    text-align: center;
}

.updatetable #add_button{
    margin-left: 60px;
}


.updatetable #extraaddress{
    margin-left: 60px;
}

#joinus{
    margin-left: 40px;
    width: 100%;
}

.updatetable  #update{
  
    width: 180px;
}

.updatetable  #delete{
    margin-left: 170px;
    width: 70%;
}


#pwbtn{
    width: 120px;
}



/* 예약페이지 */
/* 주소 불러오기 */

.reserveline {
    border-top: 3px solid black;
    width: 1240px;
    margin-left: 350px;
    margin-top: 10px;
    /* margin-bottom: 30px; */
  }

#selectaddress{
    margin-top: 20px;
    margin-left: 635px;
    font-size: 20px;
}

#reservetitle{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 10px;

}

#city, #town{
    margin-top: 20px;
    padding: 5%;
}
#city{
    margin-right: 30px;
    width: 50px;
    width: 200px; 
    text-align: center;
}
#town{
    margin-left: 20px;
    margin-right: 30px;
    width: 210px; 
    text-align: center;
}

#myaddress , #searchaddress{
    height: 50px;
    margin-top: 20px;
}

#searchaddress{
    margin-left: 15px;
    width: 70px;
}

/* 세탁업체 목록 */
#washinglisttable{
    margin-top: 60px;
    margin-left: 347px;
    font-size: 20px;
}

#washingtable{
    border-top: 3px solid black;
    border-bottom: 2.1px solid black;
    table-layout: fixed;
    margin-bottom: 60px;
    width: 1240px;
    border-collapse: separate;
    display: table;
    text-indent: initial;
    /* border-color: gray; */
}

thead{
    display: table-header-group;
    vertical-align: middle;
    /* border-color: #333; */
}

tr{
    display: table-row;
    vertical-align: inherit;
}

#washingtable thead th{
    height: 68px;
    font-size: 18px;
    padding: 0 14px;
    color: #000;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid gray;

}

table thead th:first-child{
    width: 180px;
}

table thead th.second{
    width: 180px;
}

table thead th.forth{
    width: 220px;
}

table thead th.fifth{
    width: 210px;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
}

tbody a {
    text-decoration: none;
}

#washingtable tbody tr td{
    height: 110px;
    text-align: center;
    vertical-align: middle;
    padding: 14px 0;
    border-top: 1px solid #e5e5e5;
}

table tbody tr td .img{
    float: left;
    padding-left: 20px;
    width: 80px;
    height: 100px;
    vertical-align: middle;
}

table tbody tr td .text{
    width: 300px;
    height: 125px;
    margin-left: 160px;
}

table tbody tr td .title{
    font-size: 18px;
    font-weight: bold;
    float: left;
    padding-top: 27px;
    color: #333;
}

table tbody tr td .details{
    width: 300;
    float: left;
    padding-top: 7px;
}

table tbody tr td .detail{
    display: inline-block;
    color: gray;
}



table tbody tr td.date{
    counter-reset: #666;
    font-size: 14px;
    /* width: 150px; */
}



/* 기기선택 */
#choosewashing{
    margin-top: 80px;
    margin-left: 700px;
    font-size: 20px;
}

#machine{
    margin-top: 20px;
    padding: 5.5%;
    margin-right: 30px;
    width: 50px;
    width: 200px; 
    text-align: center;
}
#machineno{
    margin-top: 20px;
    padding: 5%;
    margin-left: 70px;
    margin-right: 30px;
    width: 200px; 
    text-align: center;

}

/* 날짜 선택 */
#selectdate{
    margin-left: 330px;
}

.reserveline1 {
    border-top: 3px solid black;
    width: 1245px;
    margin-left: 345px;
    margin-top: 10px;
}

.reserveline2 {
    border-top: 3px solid black;
    width: 1245px;
    /* margin-left: 330px; */
    margin-top: 10px;
    margin-bottom: 30px;
}

#date{
    margin-bottom: 300px;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 80px;
    padding: 10px 20px;
    width: 200px;
}

.rvdatetime{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

#reserve{
    margin-top: 80px;
    margin-left: 500px;
    margin-bottom: 300px;
}

#paybtn{
    padding: 10px 50px;
}

/* 예약 성공 페이지 */
.rvsuccess {
    text-decoration: none;
    color: white;
    background-color: #666;
}

#success{
    width: 800px;
    margin-left: 200px;
    margin-top: 50px;
    /* background-color: aliceblue; */
    border: 4px solid lightgrey;

}

#successbox{
    padding-top: 100px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 100px;
    text-align: center;
}

.reservesuccess{
    font-size: 30px;
    font-weight: bold;
}


/* 예약 상세 내역 페이지 */
#reservedetailtable{
    border-top: 3px solid black;
    border-bottom: 2.1px solid black;
    table-layout: fixed;
    margin-bottom: 60px;
    margin-left: 300px;
    width: 1240px;
    border-collapse: separate;
    display: table;
    text-indent: initial;
    /* border-color: gray; */
}

#reservedetailtable thead th{
    height: 68px;
    font-size: 18px;
    padding: 0 5px;
    color: #000;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid gray;

}

#reservedetailtable tbody tr td{
    height: 110px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    border-top: 1px solid #e5e5e5;
}

.reservedetailline {
    border-top: 3px solid black;
    width: 1245px;
    margin-left: 345px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.reservedetailbox {
    margin-top: 50px;
    display: flex;
}

#detailline {
    border-top: 500px solid black;
    width: 3px;
    /* height: 1245px; */  
    /* margin-top: 10px; */
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#map{
    width: 400px; 
    height: 400px; 
    position: relative; 
    z-index: 1;
    margin-left: 400px;
    margin-top: 40px;
}

#reservedetailbox1{
    margin-right: 60px;
    margin-top: 20px;
}

#reservedetailbox2{
    margin-top: 20px;
}

#reservedetailbox1 span, #reservedetailbox2 span{
    font-size: 24px;
}

/* 비밀번호 변경 */
#pwchangetitle{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}

#pwchange2{
    width: 800px;
    height: 400px;
    margin-left: 550px;
    margin-top: 50px;
    /* background-color: aliceblue; */
    border: 4px solid lightgrey;

} 

#pwchangebox{
    padding-top: 100px;
    padding-right: 200px;
    padding-left: 180px;
    /* padding-bottom: 100px; */
    /* text-align: center; */
}

#pwchangebtn2{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 160px;
}

/* 회원 탈퇴 */
#deletetitle{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}

#delete2{
    width: 800px;
    height: 400px;
    margin-left: 550px;
    margin-top: 50px;
    /* background-color: aliceblue; */
    border: 4px solid lightgrey;

} 

#deletebox{
    padding-top: 100px;
    padding-right: 200px;
    padding-left: 180px;
    /* padding-bottom: 100px; */
    /* text-align: center; */
}

#deletebtn2{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 160px;
}

/* 로그인 */
#login{
    width: 800px;
    margin-left: 550px;
    margin-top: 50px;
    /* background-color: aliceblue; */
    border: 4px solid lightgrey;

}

#loginbox{
    padding-top: 50px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 50px;
    text-align: center;
}

#washingdetail {
    margin-top: 40px;
    display: flex;
}

#washinginfo{
    margin-top: 140px;
}

#washingbox span{
    font-size: 24px;
    font-weight: bold;
}

/* footer */
footer a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
}

footer ul{
    list-style: none;
    margin-left: 20px;
    margin-top: 35px;
}

footer .cr{
    float: right;
    margin-right: 50px;
    color: #666;
}