<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUBBLE BUMUL</title>

    <!--1. BootStrap용 CSS CDM 추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel='stylesheet' th:href="@{/css/bootstrap.min.css.map}" />
    <link rel='stylesheet' th:href="@{/css/home.css}" />

    <!--탭 아이콘 변경-->
    <link rel="icon" th:href="@{/images/iconlog.png}">   

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <!-- 한글 font  -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <!--jQuery 추가-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>




</head>

<script>
    /* 스크롤 부드럽게 왔다갔다 */
    $(document).ready(function(){
    
      $("a").on('click', function(event) {
    
        if (this.hash !== "") {
    
          event.preventDefault();
    
          var hash = this.hash;
    
          $('html, body').animate({
    
            scrollTop: $(hash).offset().top
    
          }, 800, function(){
    
            window.location.hash = hash;
    
          });
    
        } 
    
      });
    
    });


    
    </script>


<body>

    <header th:replace="~{/fragments/header.html :: header}"></header>

    <div class="maincontainerhome">
        <!-- 제일 먼저 보이는 화면 -->
        <div class="top-1" id="section1">
            <div class="top-2">
                <div class="row">
                    <div class="col-6 img-intro">
                        <img th:src="@{/images/white.png}" id="mainimg"> 
                    </div>
                    <div class="col-6" id="maintext">
                        <div class="text">
                            <h1 id="bubblebumul">Bubble Bumul</h1>
                            <!-- <hr id="mainline"/> -->
                             <div class="line"></div> 
                            <div id="bubbletext">
                                <p style="text-align: center; padding-right: 150px; font-size: 18px;">코인세탁방에서 기다리고 계시나요?<br />여러분의 소중한 시간 <br />버블버물이 지켜드립니다 !</p>
                                <div class="top-button" id="section2">
                                    <a class="btn btn-primary" href="#section3">이용 방법</a>
                                    <a class="btn btn-secondary" th:href="@{/customer/findwashing.bubble}">내 주변 세탁방 찾기 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="topload">
            <a href="#section1"><img th:src="@{/images/upload.png}"style="width: 40px;"></img></a>
        </div>
            <!-- 소개글 -->
        <div class="introduce">
            <div style="text-align: center; margin-top: 150px;">
                <h2 style="font-weight: bold;">버블버물 서비스 소개</h2>
            </div>
            <div id="info" >
                <div id="homeinfo1"> <!-- 기능1 -->
                    <p id="homeinfotitle">찾기 </p> 
                    내 주변에도 세탁방이 있을까? <br/>
                    버블버물이 찾아드립니다 ! <br/>
                   
                </div>
                <div id="homeline"></div>
                <div id="homeinfo2">  <!-- 기능2 -->
                    <p id="homeinfotitle"> 예약 </p> 
                    원하는 시간, 원하는 장소에서 <br/>
                    언제나 세탁 예약 가능 ! <br/>
                     
                </div>
                <div id="homeline"></div>
                <div id="homeinfo3">  <!-- 기능3 -->
                    <p id="homeinfotitle">커뮤니티 </p> 
                    전국 세탁요정들의 커뮤니티  <br/>
                    세탁 꿀팁을 주고 받아 보세요 ! <br/>
                    
                   
                </div>
            </div>
        </div>
        <!-- 매장 찾기 -->
        <div class="find-washing text-center" style="width: 1800px; height: auto;">
            <div class="card-body find-washing-title">
                <h3>우리동네 코인빨래방을 찾아보세요!</h3>
                <p style="color: red; font-weight: bold;">현재 검색 가능한 주소는 부산광역시 남구입니다 </p>
            </div>
            <div id="selectaddress" style="margin-bottom: 50px;">
                <table style="margin-bottom: 20px;">
                    <tr>    
                        <td>
                            <select id="city" onchange="selectedCity()">
                                <option value="none">지역(시/도) 선택</option>
                                <option th:each="city : ${citynamelist}" th:value="${city}" th:text="${city}"></option>
                            </select>
                        </td>
                        <td>
                            <select id="town" onchange="selectedtown()">
                                <option value="none">지역(시/구/군) 선택</option>
                            </select>
                        </td>
                        <td><button type="button" id="searchaddress" class="btn btn-dark" onclick="showWahsingList()">조회</button></td>
                    </tr>    
                </table>
            </div>
        </div>

        <div id="washinglisttable" style="display: none; margin-top: 0px;">
            <table id="washingtable">
            <!-- <table width="900" style="margin-bottom: 20px; border-collapse: collapse; table-layout: fixed; text-align: center;"></table> -->
                <thead style="background-color: lightgray;">
                    <tr>
                        <th width="15%" class="second">세탁소</th>
                        <th width="50%" class="third">주소</th>
                        <th width="15%" class="forth">전화번호</th>
                    </tr>
                </thead>
                <tbody id="washinglist">
                </tbody>
            </table>
        </div>
        <div id="section3"></div>
        <!-- 예약 기능 소개 -->
        <div class="reserve-info" style="margin-top: 300px; margin-bottom: 300px;">
            <div class="reserve-info-title">
                <h3><span id="bubblename">Bubble Bumul</span> 이용 방법</h3>
            </div>
            <div class="row step">
                <div class="col-3 step-1">
                    <div class="stepno"><h2>01</h2></div>
                    <p id="step-1">내 주변 코인 세탁방을 <br/>찾아보세요</p>
                </div>
                <div class="col-3 step-2">
                    <div class="stepno"><h2>02</h2></div>
                    <p id="step-2">세탁방을 찾으셨다면,  <br/>사용하실 기기를  <br/>선택해주세요</p>
                </div>
                <div class="col-3 step-3">
                    <div class="stepno"><h2>03</h2></div>
                    <p id="step-3">원하시는 날짜와 시간을 <br/> 선택해주세요</p>
                </div>
                <div class="col-3 step-4">
                    <div class="stepno"><h2>04</h2></div>
                    <p id="step-4">예약이 완료되었습니다 :)</p>
                </div>
            </div>
        </div>

    </div>

    <footer th:replace="~{/fragments/footer.html :: footer}"></footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        const washinglisttable = document.getElementById("washinglisttable");

        async function selectedCity() {
            washinglisttable.style.display="none";

            const city = $("#city option:selected").val();
            
            // rest api 호출
            const url = [[@{/api/reserve/selectedcity.json}]] + `?city=${city}`;
            const headers = {"Content-Type":"application/json"};
            const {data} = await axios.get(url, {headers});

            // console.log(data.town);

            if (data.town.length > 0) {
                const town = document.getElementById("town");
                town.innerHTML = '';
                town.innerHTML = '<option value="none">지역(시/구/군) 선택</option>';

                for (let obj of data.town) {
                    town.innerHTML += "<option value=" + obj + ">" + obj + "</option>";
                }
            }
        }

        async function showWahsingList() {
            const city = $("#city option:selected").val();
            const town = $("#town option:selected").val();

            const url = [[@{/api/reserve/washinglist.json}]] + `?city=${city}&town=${town}`;
            const headers = {"Content-Type":"application/json"};
            const {data} = await axios.get(url, {headers});

            if (city == "none") {
                alert('지역(시/도)를 선택해주세요.');
                document.getElementById("city").focus();
            }
            else if (town == "none"){
                alert('지역(시/구/군)을 선택해주세요.');
                document.getElementById("town").focus();
            }
            else {
                if (data.washinglist.length == 0) {
                    alert('해당 지역에 등록된 세탁소가 없습니다.');
                    $("#city").val("none").prop("selected", true);
                    $("#town").val("none").prop("selected", true);
                    // // washinglisttable.innerHTML = '';
                    // washinglisttable.style.display="none";
                }
                else {
                    const washinglist = document.getElementById("washinglist");
                    washinglist.innerHTML = '';

                    for (let i=0; i<data.washinglist.length; i++){
                        // console.log(data.washinglist[i].name);
                        washinglist.innerHTML += `<tr>`
                                                    + '<td class="washing">' + data.washinglist[i].name + '</td>'
                                                    + '<td class="washing">' + data.washinglist[i].address + '</td>'
                                                    + '<td class="washing">' + data.washinglist[i].phone + '</td>'
                                                    + `</tr>`
                                                    ;
                    }

                    washinglisttable.style.display="inline-block";
                }
            }
        }

        function selectedtown() {
            washinglisttable.style.display="none";
        }
    </script>
</body>

</html>