<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUBBLE BUMUL</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/washing/my-login.css}">

  
    <!--jQuery 추가-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>


    <style>
      * {
          font-family: 'NanumSquareLight';
      }
  </style>
</head>

<body class="my-login-page">


  <section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">

          <!--로그-->
					<div class="brand">
            <img th:src="@{/images/iconlog.png}" alt="logo"> <!--버블버물 로고 올릴 것-->
					</div>

					<div class="card fat">
						<div class="card-body">

              <!--사업자 등록번호 조회-->
							<h4 class="card-title">사업자 정보 조회</h4>

              <form th:action="@{/washing/bncheck.bubble}" method="post" id="form">

                <!--사업자 등록 번호-->
								<div class="form-group">
                  <label for="bno">사업자등록번호</label>
                  <input type="text" name="bno" id="bno" value="1633500905" class="form-control" required autofocus  /></td>
								</div>

                <!--개업일자-->
                <div class="form-group">
                  <label for="regdate">등록일</label>
                  <input type="number" value="YYYYMMSS" id="regdate" class="form-control" required autofocus />
                </div>
          
                <!--대표자명-->
                <div class="form-group">
                  <label for="pnm">대표자명</label>
                  <input type="text" name="pnm" id="pnm" value="황혜성" class="form-control" required autofocus />
                </div>
                
                <!--조회버튼-->
                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-block" id="check" >조회</button>
                </div>

                <div class="mt-4 text-center">
                이미 계정이 있으신가요? <a th:href="@{/washing/login.bubble}">로그인</a>
                </div>

							</form>

						</div>
					</div>

					<div class="footer">
						Copyright &copy; 2023 &mdash; Bubble Bumul
					</div>

				</div>
			</div>
		</div>
	</section>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" id="modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" hidden >
        Launch demo modal
      </button>


  </form>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">사업자 등록번호 조회</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>유효한 사업자 입니다 !</p>
            <p>회원가입 창으로 넘어갑니다 :></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="bnCheckAction()" data-bs-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script>

      // 사업자등록번호 조회
      $(document).ready(function () {
        $("#check").click(function () {

          var data = {
            "businesses": [
            {
            b_no : document.getElementById("bno").value,
            start_dt : document.getElementById("regdate").value,
            p_nm : document.getElementById("pnm").value
            
            }
        ]
          };
          console.log(data);
          

          let serviceKey ="Al3bMZYLF3tteWZUOulq%2FmqbqH09Whq3LSN7qXANeAop5MeLY6OMNFzt9xy4pbpDM9cvW4j6lxWxN8HDvhmSjg%3D%3D";
          $.ajax({
            url:
              "https://api.odcloud.kr/api/nts-businessman/v1/validate?serviceKey=" +
              serviceKey,
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            accept: "application/json",
            success: function (result) {
              
              const obj = JSON.stringify(result);
              const obj1 = JSON.parse(obj);


              // console.log("결과:: ", obj1);
              // console.log("결과1:: ", obj1.status_code);
              // console.log("결과3:: ", obj1.data[0].valid);
              // console.log("결과2:: ", obj1.data[0].status.b_stt_cd);
              if(obj1.data[0].valid != 01){
                alert("존재하지 않는 사업자번호입니다.");
              }
              else if(obj1.data[0].status.b_stt_cd == 01){
                $("#modal-btn").click();
        
                
              }
              // console.log(obj1.);
            },
            error: function (error) {

              if( document.getElementById("bno").value.length <= 0){
                alert("사업자번호를 입력해주세요");
                document.getElementById("bno").focus;            
              }
              else if( document.getElementById("regdate").value.length <= 0){
                alert("등록일자를 입력해주세요");
              }
              else if( document.getElementById("pnm").value.length <= 0){
                alert("대표자명을 입력해주세요");
              }
              else if(obj1.data[0].valid != 01){
                alert("존재하지 않는 사업자번호입니다.");
              }
            },
          });
        });
      });

      function bnCheckAction(){
        document.getElementById("form").submit();
      }
    </script>
  </body>
</html>