<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUBBLE BUMUL</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/washing/my-login.css}">

    <style>
        * {
            font-family: 'NanumSquareLight';
        }
    </style>

</head>

<!--아이디 찾기 페이지-->
<body class="my-login-page">
    <section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img th:src="@{/images/iconlog.png}" alt="logo"> <!--버블버물 로고 올릴 것-->
					</div>
					<div class="card fat">
						<div class="card-body">

                            <!--아이디 찾기-->
							<h4 class="card-title">아이디 찾기</h4>

                            <form th:action="@{/washing/findid.bubble}" method="post" id="form">

                                <!--이름-->
								<div class="form-group"> <!--input group 쓰면 태그 내에 있는 것들이 합쳐짐 근데 이건 input group이 아님-->
									<label for="ceo">대표자명</label>
                                    <input type="text" id="ceo" name="ceo" value="최성빈" class="form-control" required autofocus  />

								</div>

                                <!--이메일-->
								<div class="form-group">
									<label for="email">이메일</label>
                                    <input type="text" id="email" name="email" value="b@email.com" class="form-control" required data-eye />
								</div>

                                <!--아이디 찾기 버튼-->
								<div class="form-group m-0">
									<input type="button" value="찾기" class="btn btn-primary btn-block" onclick="findIdAction()"  />
								</div>

                                
                                <!--회원가입-->
								<div class="mt-4 text-center">
                                    이미 계정이 있으신가요? <a th:href="@{/washing/login.bubble}">로그인</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; Bubble Bumul
					</div>
				</div>
			</div>
		</div>
	</section>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <script th:inline="javascript" type="text/javascript">

        function findIdAction() {

            const ceo = document.getElementById('ceo');
            const email = document.getElementById('email');


            //유효성 검사
            if(ceo.value.length <= 0) {
                alert('이름을 입력해주세요');
                ceo.focus();
                return false;
            }

            if(email.value.length <= 0) {
                alert('이메일을 입력해주세요');
                email.focus();
                return false;
            }

            document.getElementById('form').submit();

        }

    </script>

</body>
</html>