<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUBBLE BUMUL</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/washing/my-login.css}">


	<style>
        *{
            font-family: 'NanumSquareLight';
        }
    </style>

</head>



<!--아이디 보여주는 페이지-->
<body class="my-login-page">
    <section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img th:src="@{/images/iconlog.png}" alt="logo"> <!--버블버물 로고 올릴 것-->
					</div>
					<div class="card fat">
						<div class="card-body">

                            <!--아이디 찾기 완료-->
							<h4 class="card-title">아이디 찾기</h4>

                            <p style="color: #007bff;">찾으시는 아이디가 맞습니까?</p>

                            <!--아이디-->
                            <div class="form-group"> 
                                <label for="id">ID</label>
                                <input type="text" id="ceo" name="ceo" th:value="${id}" class="form-control" readonly />
                            </div>

                            <!--로그인-->
                            <div class="mt-4 text-center">
                                이미 계정이 있으신가요? <a th:href="@{/washing/login.bubble}">로그인</a>
                            </div>

						</div>
					</div>
					<div class="footer">
                        
						Copyright &copy; 2023 &mdash; Bubble Bumul
					</div>
				</div>
			</div>
		</div>
	</section>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>